@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

    @await Component.InvokeAsync("_HeadDefaultComponentPartial")

<body class="index-page">

    @await Component.InvokeAsync("_NavbarDefaultComponentPartial")

    <main class="main">

        @await Component.InvokeAsync("_FeatureComponentPartial")

        @await Component.InvokeAsync("_AboutComponentPartial")

        @await Component.InvokeAsync("_ServiceComponentPartial")

        @await Component.InvokeAsync("_StatsComponentPartial")

        @await Component.InvokeAsync("_MenuComponentPartial")

        @await Component.InvokeAsync("_TestimonialComponentPartial")

        @await Component.InvokeAsync("_EventComponentPartial")

        @await Component.InvokeAsync("_ChefComponentPartial")

        @await Component.InvokeAsync("_RezervationComponentPartial")

        @await Component.InvokeAsync("_GalleryComponentPartial")

        @await Component.InvokeAsync("_ContactComponentPartial")

    </main>

    @await Component.InvokeAsync("_FooterComponentPartial")

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>
 

    @await Component.InvokeAsync("_ScriptsComponentPartial")

</body>
</html>
