<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="index.html">
                <img alt="image" src="/otika-bootstrap-admin-template/assets/img/logo.png" class="header-logo" /> <span class="logo-name">Otika</span>
            </a>
        </div>
        <ul class="sidebar-menu">
            <li class="dropdown">
                <a href="https://localhost:7049/" target="_blank" class="nav-link"><i data-feather="aperture"></i><span>Siteye Git</span></a>
            </li>
            <li class="dropdown">
                <a asp-controller="Home" asp-action="index" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
                <a asp-controller="Category" asp-action="index" class="nav-link"><i data-feather="list"></i><span>Kategoriler</span></a>
            </li>
        </ul>
    </aside>
</div>
